/* Style inputs with type="text", select elements and textareas */
input {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
.main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

  .container {
    margin-top: 20px;
    // width:60%;
    border-radius: 5px;
    padding: 20px;
  }
.main h1{
  font-size: 5vh;
  font-weight: 600;
}


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


.contact-list {
    list-style: none;
    padding: 0;
    text-align:center;
    padding-top: 40px
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px;
}

.contact-link {
    margin-left: 10px;
}

  
@media only screen and (min-width: 768px) {
  /* styles for desktop */
  .contact-listt {
    display: flex;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  /* styles for mobile */
  .contact-listt {
    display: block;
  }
}

