.s-container{
    position: relative;
    padding-bottom: 90px;
    /* padding-top: 90px; */
}
.s-container .swiper{
    width: 70%;
    height: 34rem;
    position: unset;
}


.s-container .top{
    align-items: center;
    margin-bottom: 50px;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 10px;
    color: black;
}


.s-container .swiper-slide{
    background-color: white;
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

/* .s-container .swiper-button-prev{
    left: 3rem;
} */

/* .s-container .swiper-button-next{
    right: 3rem;
} */

.s-container .swiper-button-prev, .swiper-button-next{
    color: #000;
  }

  .left-s{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name{
    display: flex;
    flex-direction: column;
  }

  .name>:nth-child(1){
    font-size: 1.4rem;
    font-weight: 600;
  }

  .name >:nth-child(2){
    font-size: 0.7rem;
  }

  .left-s>:nth-child(2){
    font-weight: bold;
    font-size: 2rem;
  }

  .left-s>:nth-child(3)
  {
    font-size: 0.6rem;
    border: 1px solid var(--black);
    padding: 5px 10px;
    width: max-content;
    border-radius: 15px;
    
  }

  .img-p{
    transform: rotate(-20deg);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    bottom: -20%;
}

/* @media only screen and (max-width: 768px) {
  .slideImages {
    height:450 !important;
    width:250 !important;
    }
} */



